*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* header */
header{
    padding: 10px 0px 10px 10px;
}

h1{
    font-size: 45px;
}

.d-inline-block{
    display: inline-block;
}

main{
    background-color: gray;
    height: 800px;
    padding: 40px 0px;
}

.contenuto{
    border-radius: 15px;
    height: 700px;
    background-color: white;
    
}

.vertical-align{
    vertical-align: middle;
}



.container{
    max-width: 1200px;
    margin: 0px auto;
}

.parte-superiore{
    border-bottom: 1px solid gray;
    padding: 30px 30px;
}

.parte-inferiore{
    height: 600px;
    
    padding: 10px;
}

.py-20{
    padding: 20px;
}

.btn{
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    font-size: 20px;
}

.btn-blu{
    background-color: rgba(0, 162, 255, 0.69);
    border: 1px solid gray
}

.btn-gray{
    background-color: transparent;
    border: 1px solid gray;
    color: gray;

    
}

.font-size{
    font-size: 20px;
}

.background-blu{
    background-color: blue;
    color: white;
}

.background-gray{
    color: gray;
}

.my-40{
    margin-left:100px ;
}

.border-radius{
    border-radius: 50%;
     color: green;
     background-color:white;
    padding: 3px;
    border: 2px solid green;
}

.font{
    font-size: 20px;
    margin: 20px;
}

.my-31{
    margin-left: 70px;
    margin-top: 20px;
}

.my-32{
    margin-top: 50px;
}

.border-radius-cross{
    border-radius: 50%;
     color:red;
     background-color:white;
    padding: 3px;
    border: 2px solid red;
}

.font1{
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(0, 102, 255);
    color: white;
    padding: 5px 20px;
}
.font2{
    border-radius: 10px;
    background-color: rgb(127, 77, 127);
    color: white;
    padding: 5px 20px; 
    font-size: 15px;
}

.font3{
    border-radius: 10px;
    background-color: rgb(57, 131, 57);
    color: white;
    padding: 5px 20px; 
    font-size: 15px;
}

.font4{
    border-radius: 10px;
    background-color:rgb(241, 176, 57);
    color: white;
    padding: 5px 20px; 
    font-size: 15px;
}

.font5{
    border-radius: 10px;
    background-color:rgb(228, 129, 145);
    color: white;
    padding: 5px 20px; 
    font-size: 15px; 
}

.font6{
    border-radius: 10px;
    background-color:rgb(78, 243, 78);
    color: white;
    padding: 5px 20px; 
    font-size: 15px; 
}
 
.border{
    border-radius: 10px;
    color: gray;
    padding: 5px 20px; 
    font-size: 15px; 
   border: 2px solid gray;
}